<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/Style/discussion.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link href="../assets/css/brands.css" rel="stylesheet" />
    <link href="../assets/css/solid.css" rel="stylesheet" />
    <link href="../assets/css/sharp-thin.css" rel="stylesheet" />
    <link href="../assets/css/duotone-thin.css" rel="stylesheet" />
    <link href="../assets/css/sharp-duotone-thin.css" rel="stylesheet" />
    
</head>
<body>
    <div class="left1">
        <ul class="bar">
            <li><a href="#"><i class="fa fa-umbrella"></i></a></li>
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#"><i class="fa fa-users"></i></a></li>
            <li><a href="#"><i class="fa fa-desktop"></i></a></li>
            <li><a href="#"><i class="fa fa-comment"></i></a></li>
        </ul>
        <ul class="person">
            <li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li>
                <img src="..//assets/person/image1.jpg" alt="">
            </li>
        </ul>
    </div>
    <section class="right1">
        <div class="discuss">
            <div class="right">
                <div class="top">
                    <h2>Discussions</h2>
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Rechercher ou Demarrer">
                    </div>
                </div>
                <div class="bottom">
                    <a href="#" class="content">
                        <img src="../assets/person/image1.jpg" alt="">
                        <div class="mess">
                            <h4>David Mvunabo</h4>
                            <p>Salut tu vas bien...</p>
                        </div>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/person/image1.jpg" alt="">
                        <div class="mess">
                            <h4>David Mvunabo</h4>
                            <p>Salut tu vas bien...</p>
                        </div>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/person/image1.jpg" alt="">
                        <div class="mess">
                            <h4>David Mvunabo</h4>
                            <p>Salut tu vas bien...</p>
                        </div>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/person/image1.jpg" alt="">
                        <div class="mess">
                            <h4>David Mvunabo</h4>
                            <p>Salut tu vas bien...</p>
                        </div>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/person/image1.jpg" alt="">
                        <div class="mess">
                            <h4>David Mvunabo</h4>
                            <p>Salut tu vas bien...</p>
                        </div>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/person/image1.jpg" alt="">
                        <div class="mess">
                            <h4>David Mvunabo</h4>
                            <p>Salut tu vas bien...</p>
                        </div>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/person/image1.jpg" alt="">
                        <div class="mess">
                            <h4>David Mvunabo</h4>
                            <p>Salut tu vas bien...</p>
                        </div>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/person/image1.jpg" alt="">
                        <div class="mess">
                            <h4>David Mvunabo</h4>
                            <p>Salut tu vas bien...</p>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="left">
            <div class="container">
                <div class="cont">
                    <img src="../assets/person/image1.jpg" alt="">
                    <h2>David Mvunabo</h2>
                </div>
                <i class="fa fa-x"></i>
            </div>
            <div class="not">
                
                <div class="message1">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus laborum natus autem delectus fuga cumque consequuntur assumenda sint aut.</p>
                </div>
                <div class="message2">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus laborum natus autem delectus fuga cumque consequuntur assumenda sint aut.</p>
                </div>
                <div class="message1">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus laborum natus autem delectus fuga cumque consequuntur assumenda sint aut.</p>
                </div>
                <div class="message2">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus laborum natus autem delectus fuga cumque consequuntur assumenda sint aut.</p>
                </div>
                <div class="message1">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus laborum natus autem delectus fuga cumque consequuntur assumenda sint aut.</p>
                </div>
                <div class="message2">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus laborum natus autem delectus fuga cumque consequuntur assumenda sint aut.</p>
                </div>
                <div class="message1">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus laborum natus autem delectus fuga cumque consequuntur assumenda sint aut.</p>
                </div>
                <div class="message2">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus laborum natus autem delectus fuga cumque consequuntur assumenda sint aut.</p>
                </div>
            </div>
            <div class="message">
                <i class="fa fa-plus"></i>
                <textarea placeholder="Taper un message"></textarea>
                <button type="submit"><i class="fa fa-paper-plane"></i></button>
            </div>
            
        </div>
    </section>
</body>
</html>