<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/Style/home.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link href="../assets/css/brands.css" rel="stylesheet" />
    <link href="../assets/css/solid.css" rel="stylesheet" />
    <link href="../assets/css/sharp-thin.css" rel="stylesheet" />
    <link href="../assets/css/duotone-thin.css" rel="stylesheet" />
    <link href="../assets/css/sharp-duotone-thin.css" rel="stylesheet" />
    
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <i class="fa fa-umbrella logo2"></i>
            <p><span>u</span>mbrella</p>
            <i class="fa fa-search"></i>
        </div>
        <ul class="bar">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#"><i class="fa fa-users"></i></a></li>
            <li><a href="#"><i class="fa fa-desktop"></i></a></li>
        </ul>
        <ul class="person">
            <li><i class="fa fa-th-large"></i></li>
            <li><a href="#"><i class="fa fa-comment"></i></a></li>
            <li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li>
                <img src="..//assets/person/image1.jpg" alt="">
            </li>
        </ul>
    </div>
    <section class="pub">
        <div class="left">
            <a href="#" class="publier">
                <div class="profil">
                    <img src="..//assets/person/image1.jpg" alt="">
                    <input type="text" placeholder="Quoi de neuf ?">
                </div>
                <div class="content">
                    <i class="fa fa-video"></i>
                    <i class="fa fa-image"></i>
                    <i class="fa  fa-smile"></i>
                </div>
            </a>
            <a href="#" class="create">
                <i class="fa fa-plus"></i>
                <div class="text">
                    <h2>Créer une story</h2>
                    <p>Partagez une photo ou un message</p>
                </div>
            </a>
            <div class="invitation">
                <div class="users">
                    <div class="box">
                        <i class="fa fa-users"></i>
                        <p>Personnes que vous pourriez connaitre</p>
                    </div>
                    
                </div>
                <i class="fa  fa-chevron-circle-right i"></i>

                <div class="container">
                    
                        
                    
                    <div class="image">
                        <img src="../assets/person/image3.jpg" alt="">
                        <h2>David Mvunabo</h2>
                        <div class="content">
                            <button >Ajouter un ami +</button>
                        </div>
                    </div>
                    <div class="image">
                        <img src="../assets/person/image2.jpg" alt="">
                        <h2>David Mvunabo</h2>
                        <div class="content">
                            <button >Ajouter un ami +</button>
                        </div>
                    </div>
                    <div class="image">
                        <img src="../assets/person/image4.jpg" alt="">
                        <h2>David Mvunabo</h2>
                        <div class="content">
                            <button >Ajouter un ami +</button>
                        </div>
                    </div>
                    <div class="image">
                        <img src="../assets/person/image5.jpg" alt="">
                        <h2>David Mvunabo</h2>
                        <div class="content">
                            <button >Ajouter un ami +</button>
                        </div>
                    </div>
                </div>
                <div class="boite">
                    <a href="#">Voir plus</a>
                </div>
            
            </div>
            <div class="public">
                <div class="head">
                    <div class="leftii">
                        <img src="../assets/person/image4.jpg" alt="">
                        <h3>David Mvunabo</h3>
                    </div>
                    <div class="rightii">
                        <i class="fa fa-x"></i>
                    </div>
                </div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur optio voluptatem consectetur facilis atque dicta in sapiente blanditiis nisi nesciunt.
                    </p>
                </div>
                <img src="../assets/bg/bg6.jpg" alt="" class="ima">
                <div class="like">
                    <div class="boxi">
                        <div class="lefti">
                            <i class="fa fa-heart"></i>
                            <p>89 <span>K</span></p>
                        </div>
                        <div class="righti">
                            <p>11.7 <span>K Commentaires</span></p>
                        </div>
                    </div>
                    <div class="likes">
                        
                        <a href="#" class="content">
                            <i class="fa fa-share"></i>
                            <p>Partager</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="public">
                <div class="head">
                    <div class="leftii">
                        <img src="../assets/person/image2.jpg" alt="">
                        <h3>Elisa Mvunabo</h3>
                    </div>
                    <div class="rightii">
                        <i class="fa fa-x"></i>
                    </div>
                </div>
                <div class="desc">
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur optio voluptatem consectetur facilis atque dicta in sapiente blanditiis nisi nesciunt.
                    </p>
                </div>
                <img src="../assets/bg/bg7.jpg" alt="" class="ima">
                <div class="like">
                    <div class="boxi">
                        <div class="lefti">
                            <i class="fa fa-heart"></i>
                            <p>89 <span>K</span></p>
                        </div>
                        <div class="righti">
                            <p>11.7 <span>K Commentaires</span></p>
                        </div>
                    </div>
                    <div class="likes">
                        
                        <a href="#" class="content">
                            <i class="fa fa-share"></i>
                            <p>Partager</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="right">
            <div class="actualite">
                <h2>Actualités</h2>
                <div class="actu">
                    <a href="#" class="content">
                        <img src="../assets/bg/bg2.jpg" alt="">
                        <h3>Le monde dans le tourment</h3>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/bg/bg4.jpg" alt="">
                        <h3>Le monde dans le tourment</h3>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/bg/bg8.jpg" alt="">
                        <h3>Le monde dans le tourment</h3>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/bg/bg2.jpg" alt="">
                        <h3>Le monde dans le tourment</h3>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/bg/bg4.jpg" alt="">
                        <h3>Le monde dans le tourment</h3>
                    </a>
                    <a href="#" class="content">
                        <img src="../assets/bg/bg8.jpg" alt="">
                        <h3>Le monde dans le tourment</h3>
                    </a>
                </div>
            </div>
            <p class="pi">&copy;copyright | Umbrella | 2025</p>
        </div>
    </section>
</body>
<script src="./view/js/connexion.js" async></script>
</html>