<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
    <link rel="stylesheet" href="../assets/Style/media.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link href="../assets/css/brands.css" rel="stylesheet" />
    <link href="../assets/css/solid.css" rel="stylesheet" />
    <link href="../assets/css/sharp-thin.css" rel="stylesheet" />
    <link href="../assets/css/duotone-thin.css" rel="stylesheet" />
    <link href="../assets/css/sharp-duotone-thin.css" rel="stylesheet" />
    
</head>
<body>
    <div class="left1">
        <ul class="bar">
            <li><a href="#"><i class="fa fa-umbrella"></i></a></li>
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#"><i class="fa fa-users"></i></a></li>
            <li><a href="#"><i class="fa fa-desktop"></i></a></li>
            <li><a href="#"><i class="fa fa-comment"></i></a></li>
        </ul>
        <ul class="person">
            <li><a href="#"><i class="fa fa-bell"></i></a></li>
            <li>
                <img src="..//assets/person/image1.jpg" alt="">
            </li>
        </ul>
    </div>
    <div class="videos">
        <div class="top">
            <i class="fa fa-umbrella"></i>
        </div>
    </div>
</body>
</html>